<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.tottori.mapper.ConfirmMapper">

	<resultMap id="ConfirmResult" type="jp.co.tottori.dto.SearchDto">
		<result column="book_name" property="bookName" />
		<result column="author_name" property="authorName" />
		<result column="publisher" property="publisher" />
		<result column="document_name" property="documentName" />
	</resultMap>

	<select id="getLendList" resultMap="ConfirmResult" >
        SELECT *
        FROM library.search
        WHERE isbn = #{isbn};
	</select>

	<select id="getReturnList" resultMap="ConfirmResult" >
        SELECT *
        FROM library.search
        WHERE isbn = #{isbn};
	</select>
</mapper>